
*{
    margin: 0px;
}
.history-container {
    padding: 20px;
    background: #f4f4f4;
    min-height: 100vh;
}

.history-search {
    margin-bottom: 20px;
}

#search-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
tr:hover{
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

thead {
    background: #515050;
    color: white;
}


th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}




.view-btn {
    background: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.view-btn:hover {
    background: #218838;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.close-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.close-btn:hover {
    background: #c82333;
}

/* Sidebar & Main Content */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #222;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
 
.sidebar-menu {
    margin-left: -35px;
    margin-top: 20px;
    list-style: none;
}

.sidebar-menu li {
    transition: 0.3s;
    border-bottom: 1px solid #484848;
}

.sidebar-menu li a {
    color: white;
    display: block;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    padding: 8px;
    border-radius: 5px;

}

.sidebar-menu li a:hover, 
.sidebar-menu li a.active {
    background: #333;
   
}
.main-content {
    margin-left: 250px;
    
    transition: margin-left 0.3s;
}

.sidebar.collapsed ~ .main-content {
    margin-left: 60px;
}

.sidebar.collapsed .sidebar-menu li a {
    display: none;
    text-align: center;
    font-size: 0;
}

.sidebar.collapsed .sidebar-header img{
    display: none;
}